
<div class="siteInfo container text-center">
  <legend><h3>Odditymarket</h3></legend>
  <p><em> Developer Information</em></p>
  <h4>Here are the five developers of GroupIN</h4>
  <p>301270671 Mingda Yang (Alex)</p>
  <p>301220487 Hiu Ching Lau (Canny)</p>
  <p>301215848 Zhen Wang (Ricky)</p>    
  <p>301256564 Yu Ji Wang (Terry)</p> 
  <p>301144006 Cheng Ho Yeh (Tony)</p>   
  <br><br><br><br>
  
  <h4>Oddity-market</h4>
 
<p>Nowadays, online shopping has become a huge part of our life. Applications such as Amazon and eBay has gone viral. Our team sees the opportunity in making the artistic collection an affordable leisure. 
The Oddity-Market is an application which offers an online platform for people to share or sell their collections or creative works. It is a system in which combined Amazon’s sales function and eBay’s auction function.
Although it is much like eBay, our application is targeted only on to artistic works such as painting or photograph, giving the users an easier way to find what they want. Compare to eBay, our application differentiates in its targeted audience; 
the application is a specialized platform for artistic merchandise, providing users direct access to purchase artwork. As a team, we firmly believed that auctions are not only for the upper class, but it should be an affordable activity for all general people.
Despite the fact that most auction is expected to focus on the rich’s, we have decided to target on anyone who appreciates arts despite their background. The Oddity market is an application that not only provides a friendly way for designers and collectors to 
communicate and share their artworks but also it is a sales platform for users to purchase their favorite artworks. Our product is suitable for two primary type of people, people who are seeking for artworks or collections that are worthy of recognition or individuals
who are seeking for an audience to appreciate their work. Our goal is to help local original designers to display their works in a worldwide market and help collectors to find suitable artworks to add to their collection. Furthermore, we wish to give everyone a convenient
way to meditate through arts, to escape from this busy world and relax.</P>
 
<p>Our project will consist three main individual features: artwork display, 
artwork selling, and auction. Artwork display is the place for users to share their artworks and communicate about their thought. 
Artwork sale is the place for users to sell or buy a product that has a fixed price. The auction is the place for buyers to bid artwork that they loved.
As the admin of our site, we have the responsibility to monitor the user's status and track their logs, if any inappropriate items were displayed or trying to sell,
we have the control and the right to remove the item from our site. On the other hand, for user’s, we have separated them into three fundamental categories: Buyers, Sellers, 
and Viewers.For buyers and sellers, register an account is necessary while for viewers it will be optional. The Buyers have the rights to comment under selected art display or under the product, 
report any unusual actions or inappropriate art show, product or comments and purchase selected product through auction. The seller has the rights to remove or add a product, modification of the description of the product and set the reserve price and the bid increment.</p>


</div>
