

<div class="contact container">
  <legend>
    <h3 class ="text-center">Contact</h3>
    <p class="text-center"><em>someg text</em></p>
  </legend>
  

  <div class="row">
    <div class="col-md-4">
      <p>Please leave any questions you may concern</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>Address: Canada BC SFU</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: +001 1234567890</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@sfu.com</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Leave us a message..." rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

