<header id ="homeHeader" class="jumbotron text-center text-white">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome to Oddit Market</h1>
    <p class="lead text-white">Something leading paragraph.</p>
    <p class="lead text-white">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
    <p class="lead text-white">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
      <a href="#" class="btn btn-primary">some action</a>
      <a href="#" class="btn btn-secondary">other action</a>
    </p>
  </div>
</header>


<section id="home">
    <div class="container">
        <div id="home-header">
            <h2>Recent Items</h2>
            <!--<p class="lead">title 1 description</p>-->
            <hr>
        </div>
            <div class="row">
            <div class="col-sm-12">
                <div class="card-deck">
                    <div class="card col-sm-3" >
                       <img style="width:13em; height:13em" class="card-img-top" src="/assets/1.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">Beads</p>
                            <p class="card-text">$ 99<small class="text-muted"> per item</small></p>
                        </div>
                    </div><!--card1-->
                    
                    <div class="card col-sm-3" >
                       <img style="width:13em; height:13em" class="card-img-top" src="/assets/2.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">Mask</p>
                            <p class="card-text">$ 69<small class="text-muted"> per item</small></p>
                        </div>
                    </div><!--card2-->  
                    
                    <div class="card col-sm-3" >
                       <img style="width:13em; height:13em" class="card-img-top" src="/assets/3.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">Abstract Woman</p>
                            <p class="card-text">$ 199<small class="text-muted"> per item</small></p>
                        </div>
                    </div><!--card3-->   
                    
                    <div class="card col-sm-3" >
                       <img style="width:13em; height:13em" class="card-img-top" src="/assets/4.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">Swan</p>
                            <p class="card-text">$ 89<small class="text-muted"> per item</small></p>
                        </div>
                    </div><!--card4-->  
                </div><!--card deck-->
            </div><!--col-12-->
        </div><!--row-->
            <br>
            <div class="row">
            <div class="col-sm-12">
                <div class="card-deck">
                    <div class="card col-sm-3" >
                       <img style="width:13em; height:13em" class="card-img-top" src="/assets/5.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">Vase</p>
                            <p class="card-text">$ 399<small class="text-muted"> per item</small></p>
                        </div>
                    </div><!--card1-->
                    
                    <div class="card col-sm-3" >
                       <img style="width:13em; height:13em" class="card-img-top" src="/assets/6.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">Bird</p>
                            <p class="card-text">$ 169<small class="text-muted"> per item</small></p>
                        </div>
                    </div><!--card2-->  
                    
                    <div class="card col-sm-3" >
                       <img style="width:13em; height:13em" class="card-img-top" src="/assets/6.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">sculpture</p>
                            <p class="card-text">$ 599<small class="text-muted"> per item</small></p>
                        </div>
                    </div><!--card3-->   
                    
                    <div class="card col-sm-3" >
                       <img style="width:13em; height:13em" class="card-img-top" src="/assets/8.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">Whale</p>
                            <p class="card-text">$ 349<small class="text-muted"> per item</small></p>
                        </div>
                    </div><!--card4-->  
                </div><!--card deck-->
            </div><!--col-12-->
        </div><!--row-->
        
    <br><br><br><br><br>
        
        <div id="home-header">
            <h2>Feature Items</h2>
            <!--<p class="lead">title 2 description</p>-->
            <hr>
        </div>
            <div class="row">
            <div class="col-sm-12">
                <div class="card-deck">
                    <div class="card col-sm-3" >
                       <img style="width:13em; height:13em" class="card-img-top" src="/assets/9.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">Beads</p>
                            <p class="card-text">$ 99<small class="text-muted"> per item</small></p>
                        </div>
                    </div><!--card1-->
                    
                    <div class="card col-sm-3" >
                       <img style="width:13em; height:13em" class="card-img-top" src="/assets/10.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">Mask</p>
                            <p class="card-text">$ 69<small class="text-muted"> per item</small></p>
                        </div>
                    </div><!--card2-->  
                    
                    <div class="card col-sm-3" >
                       <img style="width:13em; height:13em" class="card-img-top" src="/assets/11.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">Abstract Woman</p>
                            <p class="card-text">$ 199<small class="text-muted"> per item</small></p>
                        </div>
                    </div><!--card3-->   
                    
                    <div class="card col-sm-3" >
                       <img style="width:13em; height:13em" class="card-img-top" src="/assets/12.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">Swan</p>
                            <p class="card-text">$ 89<small class="text-muted"> per item</small></p>
                        </div>
                    </div><!--card4-->  
                </div><!--card deck-->
            </div><!--col-12-->
        </div><!--row-->
            <br>
            <div class="row">
            <div class="col-sm-12">
                <div class="card-deck">
                    <div class="card col-sm-3" >
                       <img style="width:13em; height:13em" class="card-img-top" src="/assets/13.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">Vase</p>
                            <p class="card-text">$ 399<small class="text-muted"> per item</small></p>
                        </div>
                    </div><!--card1-->
                    
                    <div class="card col-sm-3" >
                       <img style="width:13em; height:13em" class="card-img-top" src="/assets/14.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">Bird</p>
                            <p class="card-text">$ 169<small class="text-muted"> per item</small></p>
                        </div>
                    </div><!--card2-->  
                    
                    <div class="card col-sm-3" >
                       <img style="width:13em; height:13em" class="card-img-top" src="/assets/15.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">sculpture</p>
                            <p class="card-text">$ 599<small class="text-muted"> per item</small></p>
                        </div>
                    </div><!--card3-->   
                    
                    <div class="card col-sm-3" >
                       <img style="width:13em; height:13em" class="card-img-top" src="/assets/16.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">Whale</p>
                            <p class="card-text">$ 349<small class="text-muted"> per item</small></p>
                        </div>
                    </div><!--card4-->  
                </div><!--card deck-->
            </div><!--col-12-->
        </div><!--row-->
        
    <br><br><br><br><br>
    
            <div id="home-header1">
            <h2></h2>Categories</h2>
            <!--<p class="lead">title 3 description</p>-->
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-deck">
                    <div class="card">
                       <!--<header class="card-header"><h4>Card title</h4></header>-->
                       <img style="width20em; height:20em" class="card-img-top" src="/assets/1.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional    content.</p>
                            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                        </div>
                        <!--<div class="card-footer"><a href="#"><button class="btn btn-danger">learn more</button></a></div>  -->
                    </div><!--card1-->
    
                    <div class="card">
                       <!--<header class="card-header"><h4>Card title</h4></header>-->
                       <img style="width20em; height:20em" class="card-img-top" src="/assets/1.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional    content.</p>
                            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                        </div>
                        <!--<div class="card-footer"><a href="#"><button class="btn btn-danger">learn more</button></a></div>  -->
                    </div><!--card2-->
                    
                    <div class="card">
                       <!--<header class="card-header"><h4>Card title</h4></header>-->
                       <img style="width20em; height:20em" class="card-img-top" src="/assets/1.jpg" alt="fig">
                        <div class="card-block text-xs-center">
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional    content.</p>
                            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                        </div>
                        <!--<div class="card-footer"><a href="#"><button class="btn btn-danger">learn more</button></a></div>  -->
                    </div><!--card3-->
                </div><!--card deck-->
            </div><!--col-12-->
    </div><!--row-->
</div><!--container-->
</section><!--departent-->

